* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.box {
    width: 80%;
    height: 600px;
    border-radius: 20px;
    border: 1px solid var(--Gray-6, #F2F2F2);
    background: #301B52;
    margin: auto;
    margin-top: 50px;
    display: flex;
    gap: 20%;

}

body {
    height: 500000px;
}

.box img {
    width: 200px;
    height: 110px;
    margin-left: 200px;
    margin-top: 30%;
}

.h1 {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 250px;
    width: 200px;
    height: 22px;
}

.p {
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 209px;
    margin-top: 15px;
}

.quti {
    width: 270px;
    height: 250px;
    border-radius: 20px;
    border: 2px solid var(--Gray-4, #BDBDBD);
    background: #F4F3F3;
    margin-top: 30%;
}

.quti h1 {
    width: 75px;
    height: 22px;
    color: #301B52;
    margin: auto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 20px;
}

.quti input {
    margin-top: 15px;
    width: 190px;
    height: 30px;
    margin-left: 40px;
    border-radius: 20px;
    border: 1px solid var(--Gray-3, #828282);
    background: #F6F6F6;
    text-align: center;
}

.pi {
    width: 156px;
    height: 22px;
    color: #301B52;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-size: 15px;
    margin-left: 20px;
    margin: auto;
    margin-top: 15px;
}

.btn {
    margin-left: 50px;
    margin-top: 15px;
}

.bt1 {
    width: 87px;
    height: 26px;
    background: #301B52;
    color: white;
    border-radius: 20px;
    border: 0px solid var(--Gray-6, #F2F2F2);
    background: #301B52;
}

.bt2 {
    width: 87px;
    height: 26px;
    border-radius: 20px;
    border: 0px solid var(--Red, #EB5757);
    background: #DB0916;
    color: #F2F2F2;
    margin-left: 10px;
}

.text {
    width: 713px;
    color: #65665C;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    margin-top: 10px;
}

.qutilar {
    display: flex;
    margin: auto;
    margin-top: 20px;
    display: flex;
    width: 1300px;
    padding-bottom: 128px;
    gap: 80px;

}

.around {
    width: 416px;
    height: 130px;
    flex-shrink: 0;
    width: 416px;
    border-radius: 16px;
    border: 1px solid #E7E8E3;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
    padding: 33px 208px 69px 33px;

}

.table {
    color: #2A2C1F;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

.color {
    margin-top: 12px;
}

.btnn {
    width: 192px;
    height: 50px;
    padding: 13px 25px;
    border: none;
    border-radius: 6px;
    border: 1px solid #E7E8E3;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
}

.eror {
    margin-left: 24px;
    color: #2A2C1F;
}

.bor {
    text-align: center;
    margin-top: 80px;
}

.figma {
    text-align: center;
    margin-top: 50px;
    width: 1280px;
    height: 465px;
    background: #65665C;
    border-radius: 24px;
    background: #65665C;
    margin: auto;
    margin-top: 50px;
}

.flex {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 96px;
}

.kalit {
    border-radius: 8px;
    background: #FFF;
    margin-top: 96px;
    width: 40px;
}

.port {
    margin-top: 25px;
    width: 765px;
    height: 54px;
    justify-content: center;
    margin-left: 20%;
    color: #FFF;
    font-size: 18px;
}

.figma button {
    width: 137px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid #CF6F49;
    background: #CF6F49;
    color: white;
    margin-top: 22px;
}

.ota {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 32px;
}

.relax {


    width: 405px;
    height: 325px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid #E7E8E3;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
}

.star {
    width: 15px;
    height: 15px;
    margin-top: 19px;
    margin-left: 19px;
}

.fox {
    width: 339px;
    height: 108px;
    color: #2A2C1F;
    text-align: center;
    margin: auto;
    display: block;
    margin-top: 30px;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;

}           